<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title">Title</label><br>
<input type="" name="title" style="width: 1086px;"><br>
<label for="post">Post</label><br>
<textarea name="content" id="" cols="30" rows="10" style="width: 1086px; height: 135px;"></textarea><br>
<button type="submit" name="button" style="background-color: rgb(32, 33, 98); color: aliceblue;
border:none; height: 30px; width: 100px;">Publish</button>
</form>

<%- include('partials/footer'); -%>